<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='load.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
    <title>Automate Test</title>
</head>
<body>
    
    <div class="modal-loading loading">
        <div class="loading-container">
            <div class="loading-text">Carregando...</div>
            <div class="loading-spinner"></div>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <div class="action-buttons active-buttons">
                <a href="/" ><button class="btn-lg bg-green hover:green">Home</button></a>
            </div>
            <div class="search-container">
                <input type="text" name="search" id="search" value="{{search}}" placeholder="Search...">
                <button class="button-search bg-green hover:green" type="button" onclick="searchBarDebug();">Search</button>
            </div>
        </div>
        <div class="scrollable-table">
            <table class="table">
                <colgroup>
                    <col style="width: 75%;">
                    <col style="width: 25%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Debugs</th>
                        <th style="border-radius: 0 10px 0 0; border-right: 0;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for debug in debugs %}
                        <tr>
                            <td>{{ debug }}</td>
                            <td style=" border-right: 0;">
                                <div class="action-buttons" >
                                    <form action="/remove-debug" method="post">
                                        <input type="hidden" id="debug" name="debug" value="{{ debug }}">
                                        <button type="submit" class="btn bg-red hover:red" onclick="alterShowModal('loading', 'flex');">Remove</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='load.js') }}"></script>
</body>
</html>