<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration Init</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h2>Configuration Init</h2>
        <form id="myForm" class="form-container" action="/configure" method="POST">
            <div class="form-group">
                <label for="systemBase">Base System Folder:</label>
                <div class="internal-group">
                    <input type="text" id="systemBase" name="systemBase" class="form-input" readonly value="{{ systemBase }}">
                    <button type="button" class="btn bg-green hover:green" onclick="addPath('systemBase')">Select</button>
                </div>
            </div>
            <div class="form-group">
                <label for="folderKeys">Folder of Keys:</label>
                <div class="internal-group">
                    <input type="text" id="folderKeys" name="folderKeys" class="form-input" readonly value="{{ folderKeys }}">
                    <button type="button" class="btn bg-green hover:green" onclick="addPath('folderKeys')">Select</button>
                </div>
            </div>
            <div class="form-group">
                <label for="folderDebugs">Folder of Versions:</label>
                <div class="internal-group">
                    <input type="text" id="folderDebugs" name="folderDebugs" class="form-input" readonly value="{{ folderDebugs }}">
                    <button type="button" class="btn bg-green hover:green" onclick="addPath('folderDebugs')">Select</button>
                </div>
            </div>
            <div class="form-group">
                <label for="locateFolderSystems">Locate Folder of Systems:</label>
                <div class="internal-group">
                    <input type="text" id="locateFolderSystems" name="locateFolderSystems" class="form-input" readonly value="{{ locateFolderSystems }}">
                    <button type="button" class="btn bg-green hover:green" onclick="addPath('locateFolderSystems')">Select</button>
                </div>
            </div>
            <div class="form-group">
                <label for="nameKey">Name Key:</label>
                <div class="internal-group">
                    <input type="text" id="nameKey" name="nameKey" class="form-input" value="{{ nameKey }}">
                </div>
            </div>
            <div class="form-group">
                <label for="internalDebug">Internal Folder Debugs:</label>
                <div class="internal-group">
                    <input type="text" id="internalDebug" name="internalDebug" class="form-input" value="{{ internalDebug }}">
                </div>
            </div>
            <div class="form-group">
                <label for="fileExecute">File of Execute:</label>
                <div class="internal-group">
                    <input type="text" id="fileExecute" name="fileExecute" class="form-input" value="{{ fileExecute }}">
                </div>
            </div>
            <div><button type="submit" class="btn bg-green hover:green" style="width: 30%;">Submit</button></div>
        </form>
    </div>

    <script type="module" src="{{ url_for('static', filename='initConfig.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
